In [1]:
import pandas as pd 
df = pd.DataFrame({'col_one': [1,2,3],
                   'col_two': [[10,40], [20,50], [30,60]]})

## Problem: Your data is trapped in a Series of lists

In [2]:
df

   col_one   col_two
0        1  [10, 40]
1        2  [20, 50]
2        3  [30, 60]

## Solution: Expand the Series into a DataFrame

In [3]:
df.col_two.apply(pd.Series)

    0   1
0  10  40
1  20  50
2  30  60