In [1]:
import pandas as pd

## Are your dates split across multiple columns?

In [2]:
df = pd.DataFrame([[12,25,2019,'christmas'],
                  [11,28,2019,'thanksgiving']],
                 columns=['month','day','year','holiday'])
df

   month  day  year       holiday
0     12   25  2019     christmas
1     11   28  2019  thanksgiving

## Make a single datetime column with to_datetime()

In [3]:
df['date'] = pd.to_datetime(df[['month','day','year']]) 
df

   month  day  year       holiday       date
0     12   25  2019     christmas 2019-12-25
1     11   28  2019  thanksgiving 2019-11-28

In [4]:
df.dtypes

month               int64
day                 int64
year                int64
holiday            object
date       datetime64[ns]
dtype: object