In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'name': ['John Arthur Doe', 'Jane Ann Smith'],
                  'location': ['Los Angeles, CA','Washington, DC']}) 
df

              name         location
0  John Arthur Doe  Los Angeles, CA
1   Jane Ann Smith   Washington, DC

## Split "name" column into first, middle, last

In [3]:
df[['first', 'middle', 'last']] = df.name.str.split(' ',expand=True)
df

              name         location first  middle   last
0  John Arthur Doe  Los Angeles, CA  John  Arthur    Doe
1   Jane Ann Smith   Washington, DC  Jane     Ann  Smith

## Split "location" but only keep city

In [4]:
df['city'] = df.location.str.split(', ', expand=True)[0] 
df

              name         location first  middle   last         city
0  John Arthur Doe  Los Angeles, CA  John  Arthur    Doe  Los Angeles
1   Jane Ann Smith   Washington, DC  Jane     Ann  Smith   Washington