In [1]:
import pandas as pd  
import numpy as np

In [2]:
df = pd.DataFrame({'a': [100,120,130,np.nan,140],
                  'b': [9,9,np.nan,7.5,6.5]}) 
df.index = pd.util.testing.makeDateIndex()[0:5]  
df

                a    b
2000-01-03  100.0  9.0
2000-01-04  120.0  9.0
2000-01-05  130.0  NaN
2000-01-06    NaN  7.5
2000-01-07  140.0  6.5

## Fill missing values in time series data

In [3]:
df.interpolate()

                a     b
2000-01-03  100.0  9.00
2000-01-04  120.0  9.00
2000-01-05  130.0  8.25
2000-01-06  135.0  7.50
2000-01-07  140.0  6.50