In [1]:
import pandas as pd 
import numpy as np

In [2]:
np.random.seed(1)
df = pd.DataFrame(np.random.randint(1, 6, size=(12,1)), columns=['sales']) 
df.index = pd.util.testing.makeDateIndex(12, freq='Q') 
df

            sales
2000-03-31      4
2000-06-30      5
2000-09-30      1
2000-12-31      2
2001-03-31      4
2001-06-30      1
2001-09-30      1
2001-12-31      2
2002-03-31      5
2002-06-30      5
2002-09-30      2
2002-12-31      3

## For each year, show the sum of "sales"

In [3]:
df.resample('Y').sales.sum()

2000-12-31    12
2001-12-31     8
2002-12-31    15
Freq: A-DEC, Name: sales, dtype: int32