In [1]:
import pandas as pd

In [2]:
stocks = pd.read_csv('http://bit.ly/smallstocks', parse_dates=['Date'])

In [3]:
stocks

        Date   Close    Volume Symbol
0 2016-10-03   31.50  14070500   CSCO
1 2016-10-03  112.52  21701800   AAPL
2 2016-10-03   57.42  19189500   MSFT
3 2016-10-04  113.00  29736800   AAPL
4 2016-10-04   57.24  20085900   MSFT
5 2016-10-04   31.35  18460400   CSCO
6 2016-10-05   57.64  16726400   MSFT
7 2016-10-05   31.59  11808600   CSCO
8 2016-10-05  113.05  21453100   AAPL

## Goal: Filter this DataFrame to show "Close<100"

In [4]:
stocks.groupby('Symbol').mean()

             Close        Volume
Symbol
AAPL    112.856667  2.429723e+07
CSCO     31.480000  1.477983e+07
MSFT     57.433333  1.866727e+07

## Option 1: Create an intermediate variable

In [5]:
temp = stocks.groupby('Symbol').mean()
temp[temp.Close < 100]

            Close        Volume
Symbol
CSCO    31.480000  1.477983e+07
MSFT    57.433333  1.866727e+07

## Option 2: Use the query() method

In [6]:
stocks.groupby('Symbol').mean().query('Close < 100')

            Close        Volume
Symbol
CSCO    31.480000  1.477983e+07
MSFT    57.433333  1.866727e+07