In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'no_space': [10,20,30],
                  'has space': [40,50,60]}) 
df

   no_space  has space
0        10         40
1        20         50
2        30         60

In [3]:
df.query('no_space > 10')

   no_space  has space
1        20         50
2        30         60

In [4]:
df.query("`has space` > 40")

   no_space  has space
1        20         50
2        30         60