In [1]:
import pandas as pd

## Series in datetime format

In [2]:
s = pd.Series(range(1552194000,1552212001,3600)) 
s = pd.to_datetime(s, unit='s') 
s

0   2019-03-10 05:00:00
1   2019-03-10 06:00:00
2   2019-03-10 07:00:00
3   2019-03-10 08:00:00
4   2019-03-10 09:00:00
5   2019-03-10 10:00:00
dtype: datetime64[ns]

## Explicity set current time zone

In [3]:
s = s.dt.tz_localize('UTC')  
s

0   2019-03-10 05:00:00+00:00
1   2019-03-10 06:00:00+00:00
2   2019-03-10 07:00:00+00:00
3   2019-03-10 08:00:00+00:00
4   2019-03-10 09:00:00+00:00
5   2019-03-10 10:00:00+00:00
dtype: datetime64[ns, UTC]

## Convert to another time zone

In [4]:
s.dt.tz_convert('America/Chicago')

0   2019-03-09 23:00:00-06:00
1   2019-03-10 00:00:00-06:00
2   2019-03-10 01:00:00-06:00
3   2019-03-10 03:00:00-05:00
4   2019-03-10 04:00:00-05:00
5   2019-03-10 05:00:00-05:00
dtype: datetime64[ns, America/Chicago]

In [5]:
s.dt.tz_convert('Asia/Shanghai')

0   2019-03-10 13:00:00+08:00
1   2019-03-10 14:00:00+08:00
2   2019-03-10 15:00:00+08:00
3   2019-03-10 16:00:00+08:00
4   2019-03-10 17:00:00+08:00
5   2019-03-10 18:00:00+08:00
dtype: datetime64[ns, Asia/Shanghai]