In [1]:
import pandas as pd

In [2]:
df  = pd.DataFrame({'standwich': ['PB&J','BLT','cheese'],
                   'ingredents': ['peanut butter, jelly',
                                 'bacon, lettuce, tomato',
                                 'swiss cheese']},
                  index=['a','b','c'])

## Problem: Your Series contains comma-separated items

In [3]:
df

  standwich              ingredents
a      PB&J    peanut butter, jelly
b       BLT  bacon, lettuce, tomato
c    cheese            swiss cheese

## Solution: Create one row for each item

In [4]:
df.assign(ingredents = df.ingredents.str.split(',')).explode('ingredents')

  standwich     ingredents
a      PB&J  peanut butter
a      PB&J          jelly
b       BLT          bacon
b       BLT        lettuce
b       BLT         tomato
c    cheese   swiss cheese