In [1]:
import pandas as pd

In [2]:
df = pd.util.testing.makeMixedDataFrame()
df

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

## Hide index and set caption

In [3]:
df.style.hide_index().set_caption("My caption")