In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'patient':[101,102,101,103,103,101],
                  'visit':['2015','2016','2016','2017','2018','2019']})
df

   patient visit
0      101  2015
1      102  2016
2      101  2016
3      103  2017
4      103  2018
5      101  2019

In [3]:
df = df.sort_values('visit')
df

   patient visit
0      101  2015
1      102  2016
2      101  2016
3      103  2017
4      103  2018
5      101  2019

## When was each patient's last visit?

In [4]:
df.groupby('patient').visit.last()

patient
101    2019
102    2016
103    2018
Name: visit, dtype: object

## When was each patient's first visit?

In [5]:
df.groupby('patient').visit.first()

patient
101    2015
102    2016
103    2017
Name: visit, dtype: object