In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'column': [100,200,300],
                 'wt': [10,5,0]})

In [3]:
df

   column  wt
0     100  10
1     200   5
2     300   0

## Sample 5 rows with replacement

In [4]:
df.sample(n=5, replace=True, random_state=40)

   column  wt
2     300   0
1     200   5
0     100  10
0     100  10
2     300   0

## Weight sampling based on 'wt' column

In [5]:
df.sample(n=5, replace=True, random_state=40, weights='wt')

   column  wt
0     100  10
0     100  10
1     200   5
0     100  10
0     100  10