In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Symbol': ['AAPL','AAPL','AAPL','AAPL','AAPL'],
                  'Date': ['2019-8-20','2019-8-21','2019-8-22','2019-8-23','2019-8-26'],
                  'Close': [210.36, 212.64, 212.46, 202.64, 206.49]})

In [3]:
df

  Symbol       Date   Close
0   AAPL  2019-8-20  210.36
1   AAPL  2019-8-21  212.64
2   AAPL  2019-8-22  212.46
3   AAPL  2019-8-23  202.64
4   AAPL  2019-8-26  206.49

## Calculate change from the previous day

In [4]:
df['change'] = df.Close.diff()
df['Percent Change'] = df.Close.pct_change()*100

In [5]:
df

  Symbol       Date   Close  change  Percent Change
0   AAPL  2019-8-20  210.36     NaN             NaN
1   AAPL  2019-8-21  212.64    2.28        1.083856
2   AAPL  2019-8-22  212.46   -0.18       -0.084650
3   AAPL  2019-8-23  202.64   -9.82       -4.622047
4   AAPL  2019-8-26  206.49    3.85        1.899921

## Add formatting

In [6]:
df.style.format({'Percent Change': '{:.2f}%'})