In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': ['x','y','z'],
                  'B': ['male','female','male'],
                  'C': ['female','male','male']})

In [3]:
df

   A       B       C
0  x    male  female
1  y  female    male
2  z    male    male

In [4]:
mapping = {'male':0, 'female':1}

In [5]:
cols = ['B','C']

In [6]:
df[cols] = df[cols].applymap(mapping.get)

In [7]:
df

   A  B  C
0  x  0  1
1  y  1  0
2  z  0  0