In [1]:
import pandas as pd

In [ ]:
# %load data.csv
,,
,,
col_one,col_two,col_three
,,
,,
10,20,30
40,50,60
70,80,90

In [2]:
!type data.csv

,,
,,
col_one,col_two,col_three
,,
,,
10,20,30
40,50,60
70,80,90

In [3]:
pd.read_csv('data.csv',header = 2, skiprows=[3,4])

   col_one  col_two  col_three
0       10       20         30
1       40       50         60
2       70       80         90