In [1]:
import pandas as pd

In [3]:
data = {'salesperson': ['Alice','Alice','Bob','Alice','Charlie','Bob','Charlie'],
       'sales': [100,50,120,70,100,30,80]}
df = pd.DataFrame(data)

In [4]:
df

  salesperson  sales
0       Alice    100
1       Alice     50
2         Bob    120
3       Alice     70
4     Charlie    100
5         Bob     30
6     Charlie     80

In [5]:
df['running_total'] = df.sales.cumsum()
df['running_total_by_person'] = df.groupby('salesperson').sales.cumsum()

In [6]:
df

  salesperson  sales  running_total  running_total_by_person
0       Alice    100            100                      100
1       Alice     50            150                      150
2         Bob    120            270                      120
3       Alice     70            340                      220
4     Charlie    100            440                      100
5         Bob     30            470                      150
6     Charlie     80            550                      180