In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'gender': ['Male','Female','Male','F','F','Female'],
                  'age': [10,17,15,18,20,18]})
df

   gender  age
0    Male   10
1  Female   17
2    Male   15
3       F   18
4       F   20
5  Female   18

## Problem: SettingWithCopyWaring ##

In [3]:
df[df.gender == 'F'].gender = 'Female'

C:\Users\amy\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

## Solution: Rewrite using 'loc'

In [4]:
df.loc[df.gender == 'F', 'gender'] = 'Female'

In [5]:
df

   gender  age
0    Male   10
1  Female   17
2    Male   15
3  Female   18
4  Female   20
5  Female   18