In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'gender': ['Male','Female','Male','Female']})
df

   gender
0    Male
1  Female
2    Male
3  Female

## Problem: SettingWithCopyWaring ##

In [3]:
males = df[df.gender == 'Male']
males

  gender
0   Male
2   Male

In [4]:
males['abbreviation'] = 'M'

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## Solution: use copy() when copying a DataFrame

In [5]:
males = df[df.gender == 'Male'].copy()
males

  gender
0   Male
2   Male

In [6]:
males['abbreviation'] = 'M'

In [7]:
males

  gender abbreviation
0   Male            M
2   Male            M