In [1]:
import pandas as pd

In [2]:
data = {'state': ['ny','CA','Tx','Fl'],
       'country': ['usa','USA','usa','USA']}
df = pd.DataFrame(data)
df

  state country
0    ny     usa
1    CA     USA
2    Tx     usa
3    Fl     USA

In [3]:
for col in df.columns:
    df[f'{col}_fixed'] = df[col].str.upper()

In [4]:
df

  state country state_fixed country_fixed
0    ny     usa          NY           USA
1    CA     USA          CA           USA
2    Tx     usa          TX           USA
3    Fl     USA          FL           USA