In [1]:
import pandas as pd

In [2]:
data = {'A':[1,2,3],
       'B':[1.0,2.0,3.0],
       'C':[1.000000,2.000000,3.000005]} 

df  = pd.DataFrame(data) 
df

   A    B         C
0  1  1.0  1.000000
1  2  2.0  2.000000
2  3  3.0  3.000005

### equals() method requires identical data types: ###

In [3]:
df.A.equals(df.B)

False

In [4]:
df.B.equals(df.C)

False

### Assertion passes since we aren't checking data types: ###

In [5]:
pd.testing.assert_series_equal(df.A, df.B, check_names=False, check_dtype=False)

### Assertion passes since the numbers are very similar: ###

In [6]:
pd.testing.assert_series_equal(df.B, df.C, check_names=False, check_exact=False)