In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

users = pd.read_csv(url, sep='|',index_col='user_id')

In [3]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [4]:
pd.cut(users.age, bins=[0, 18, 25 ,99]).head()

user_id
1    (18, 25]
2    (25, 99]
3    (18, 25]
4    (18, 25]
5    (25, 99]
Name: age, dtype: category
Categories (3, interval[int64]): [(0, 18] < (18, 25] < (25, 99]]

In [5]:
pd.qcut(users.age, q=3).head()

user_id
1    (6.999, 27.0]
2     (39.0, 73.0]
3    (6.999, 27.0]
4    (6.999, 27.0]
5     (27.0, 39.0]
Name: age, dtype: category
Categories (3, interval[float64]): [(6.999, 27.0] < (27.0, 39.0] < (39.0, 73.0]]

In [6]:
pd.qcut(users.age, q=3, labels=['child','young adult', 'adult']).head()

user_id
1          child
2          adult
3          child
4          child
5    young adult
Name: age, dtype: category
Categories (3, object): [child < young adult < adult]

In [9]:
pd.cut(users.age, bins=[0, 18, 25 ,99],labels=['child','young adult', 'adult']).head()

user_id
1    young adult
2          adult
3    young adult
4    young adult
5          adult
Name: age, dtype: category
Categories (3, object): [child < young adult < adult]