In [1]:
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/Twitter"

In [3]:
tables = pd.read_html(url)
len(tables)

17

In [4]:
martching_tables = pd.read_html(url,match='Followers')
len(martching_tables)

1

In [5]:
martching_tables[0]

,Rank,Change (monthly),Account name,Owner,Followers (millions),Activity,Country
0,1.0,NaN,@BarackObama,Barack Obama,108,Former U.S. President,USA
1,2.0,NaN,@katyperry,Katy Perry,108,Musician,USA
2,3.0,NaN,@justinbieber,Justin Bieber,106,Musician,CAN
3,4.0,NaN,@rihanna,Rihanna,93,Musician,BAR
4,5.0,NaN,@taylorswift13,Taylor Swift,84,Musician,USA
5,6.0,NaN,@Cristiano,Cristiano Ronaldo,79,Footballer,POR
6,7.0,NaN,@ladygaga,Lady Gaga,79,Musician and actress,USA
7,8.0,NaN,@TheEllenShow,Ellen DeGeneres,78,Comedian,USA
8,9.0,NaN,@YouTube,YouTube,72,Online video platform,USA
9,10.0,NaN,@jtimberlake,Justin Timberlake,65,Musician and actor,USA