In [1]:
import pandas as pd

In [2]:
data = {'messages': ['pandas is awesome!','I love panda bears','pandas!!!']}
df = pd.DataFrame(data)
df

             messages
0  pandas is awesome!
1  I love panda bears
2           pandas!!!

In [3]:
df['word_count'] = df.messages.str.count(' ') + 1 
df

             messages  word_count
0  pandas is awesome!           3
1  I love panda bears           4
2           pandas!!!           1

In [5]:
df['word_count'] = df.messages.str.count(r'\s+') + 1 
df

             messages  word_count
0  pandas is awesome!           3
1  I love panda bears           4
2           pandas!!!           1

In [7]:
df['word_count'] = df.messages.str.split().str.len()
df

             messages  word_count
0  pandas is awesome!           3
1  I love panda bears           4
2           pandas!!!           1