In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

users = pd.read_csv(url, sep='|',index_col='user_id')

In [3]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [4]:
users.shape

(943, 4)

## Number of rows that match a condition

In [5]:
(users.occupation == 'writer').sum()

45

In [6]:
(users.age < 25).sum()

234

## Percentage of rows that match a condition

In [7]:
(users.occupation == 'writer').mean()

0.04772004241781548

In [8]:
(users.age < 25).mean()

0.24814422057264052