In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'customer':['A','B','C','D'],
                  'sales':[100, 150.75, '200','250.25']}) 
df

  customer   sales
0        A     100
1        B  150.75
2        C     200
3        D  250.25

In [3]:
df.dtypes

customer    object
sales       object
dtype: object

In [4]:
df.sales.apply(type)

0      <class 'int'>
1    <class 'float'>
2      <class 'str'>
3      <class 'str'>
Name: sales, dtype: object

In [5]:
df.sales.apply(type).value_counts()

<class 'str'>      2
<class 'float'>    1
<class 'int'>      1
Name: sales, dtype: int64