In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd.__version__

'0.25.2'

## New: if DataFrame has more than 60 rows,  only show 10 rows (by default)

In [3]:
pd.DataFrame(np.random.rand(100,3))

           0         1         2
0   0.200235  0.772709  0.231843
1   0.177012  0.485151  0.159237
2   0.371276  0.611803  0.331202
3   0.427447  0.003369  0.182734
4   0.013151  0.585727  0.608104
..       ...       ...       ...
95  0.681897  0.790840  0.765959
96  0.522220  0.970372  0.141450
97  0.859229  0.207741  0.558924
98  0.191809  0.712025  0.232247
99  0.156945  0.797209  0.099794

[100 rows x 3 columns]

## modify this option to only show 4 rows instead

In [4]:
pd.set_option('min_rows', 4)

In [5]:
pd.DataFrame(np.random.rand(100,3))

           0         1         2
0   0.845924  0.778205  0.617636
1   0.415697  0.092884  0.324612
..       ...       ...       ...
98  0.224359  0.929430  0.949815
99  0.591049  0.802398  0.965948

[100 rows x 3 columns]