1. map() using a dictionary  
2. factorize() to encode each value as an integer  
3. comparison statement to return boolean values

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'gender':['male','female','male','female'],
                  'color':['red','green','red','blue'],
                  'age':[25,40,10,30]}) 
df

   gender  color  age
0    male    red   25
1  female  green   40
2    male    red   10
3  female   blue   30

In [3]:
df['gender_letter'] = df.gender.map({'male':'M', 'female':'F'}) 
df['color_num'] = df.color.factorize()[0] 
df['can_vote'] = df.age >= 18

In [4]:
df

   gender  color  age gender_letter  color_num  can_vote
0    male    red   25             M          0      True
1  female  green   40             F          1      True
2    male    red   10             M          0     False
3  female   blue   30             F          2      True