In [1]:
import pandas as pd  
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(2,8),columns=list('ABCDEFGH'))

In [3]:
df

,A,B,C,D,E,F,G,H
0,-1.234045,0.231502,-0.429188,1.643448,-0.454964,-0.355146,-0.292078,-0.899751
1,-1.797889,-1.009833,-0.620726,-2.144312,-0.183314,2.675217,-0.227407,0.262857

## Option 1: useful for DataFrames with few columns

In [4]:
cols = ['A','C','E','B','D','F','G','H']
df[cols]

,A,C,E,B,D,F,G,H
0,-1.234045,-0.429188,-0.454964,0.231502,1.643448,-0.355146,-0.292078,-0.899751
1,-1.797889,-0.620726,-0.183314,-1.009833,-2.144312,2.675217,-0.227407,0.262857

## Option 2: useful for DataFrames with many columns

In [5]:
cols_to_move = ['A','C','E']
cols = cols_to_move + [col for col in df if col not in cols_to_move]
df[cols]

,A,C,E,B,D,F,G,H
0,-1.234045,-0.429188,-0.454964,0.231502,1.643448,-0.355146,-0.292078,-0.899751
1,-1.797889,-0.620726,-0.183314,-1.009833,-2.144312,2.675217,-0.227407,0.262857

## Option 3: useful for long column names

In [6]:
cols = df.columns[[0,2,4,1,3,5,6,7]]
df[cols]

,A,C,E,B,D,F,G,H
0,-1.234045,-0.429188,-0.454964,0.231502,1.643448,-0.355146,-0.292078,-0.899751
1,-1.797889,-0.620726,-0.183314,-1.009833,-2.144312,2.675217,-0.227407,0.262857