In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'name':['Geordi La Forge','Deanna Troi','Data']}) 
df

              name
0  Geordi La Forge
1      Deanna Troi
2             Data

In [3]:
df['first_name'] = df.name.str.split(n=1).str[0] 
df['last_name'] = df.name.str.split(n=1).str[1] 
df

              name first_name last_name
0  Geordi La Forge     Geordi  La Forge
1      Deanna Troi     Deanna      Troi
2             Data       Data       NaN