In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(100,size=(2,6)),columns=list('ABCDEF')) 
df

    A   B   C   D   E   F
0   0  86  82  23  59  67
1  65  79  12  24  57  93

## Insert a new column at a specific location

In [3]:
df.insert(3, 'C2',df['C']*2) 
df

    A   B   C   C2   D   E   F
0   0  86  82  164  23  59  67
1  65  79  12   24  24  57  93

## Alternative: Create a new column and then move it

In [4]:
df['C3'] = df['C'] * 3 
cols = list(df.columns)
location = 4 
cols = cols[:location] + ['C3'] + cols[location:-1] 
df = df[cols] 
df

    A   B   C   C2   C3   D   E   F
0   0  86  82  164  246  23  59  67
1  65  79  12   24   36  24  57  93